<!DOCTYPE html>
<html lang="ta">
<head>
  <meta charset="UTF-8" />
  <style>
    body {
      font-family: "Noto Sans Tamil", sans-serif;
      font-size: 12px;
    }

    table {
      width: 100%;
      border-collapse: collapse;
    }

    th {
      background: #6c5ce7;
      color: white;
      padding: 8px;
    }

    td {
      padding: 6px;
      border-bottom: 1px solid #ddd;
    }
  </style>

  <!-- Tamil font -->
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Tamil&display=swap" rel="stylesheet">
</head>
<body>

<h3 style="text-align:center">Members List</h3>

<table>
  <thead>
  <tr>
    <th>Sl No</th>
    <th>Member ID</th>
    <th>Member Name</th>
    <th>Member Tamil Name</th>
    <th>Status</th>
  </tr>
</thead>

  <tbody>
  <!--ROWS-->
</tbody>

</table>

</body>
</html>
